NEXT_PUBLIC_CAPABILITY_DISCOVERY_API_URL=
NEXT_PUBLIC_DATASET_ORCHESTRATION_API_URL=
NEXT_PUBLIC_AI_DEPLOY_API_URL=
NEXT_PUBLIC_KEYCLOAK_URL=

# Optional client/app identifiers
NEXT_PUBLIC_KEYCLOAK_REALM=
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=
